
.tx{
  font-weight: 700;
  /* word-spacing: 5px; */
  letter-spacing: 2.5px;
  font-family:monospace;
}
.carousel-indicators button{
  width: 15px !important;
  height: 15px !important;
  border-radius: 100% !important;
}
.overlay{
  background-color: black;
  opacity: .4;
}
.schedule{
  width: 90%;
}
.fixed-bg{
  background-image: url("/images/schedule/bg.jpg");
  background-position:left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
}